button {
    width: 80px;
    height: 40px;
    background-color: white;
    margin: auto;
    font-size: larger;
    display: block;
    border: none;
}


* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color : rgb(148, 148, 248);
}


header  {
    background-image: url("/image/galaxy.webp");
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 33vh;
    background-size: cover;
    background-position: center;
    margin: 0;
    background-attachment: fixed;

}


img {
    width: 100px;
    height: 20px;
    display: block;
    margin: auto;
    
    
}


p {
    text-align: center;
    display: block;
    font-size: xx-large;
    font-weight:bolder;
    margin-top: 50px;

}


footer {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}


a {
    text-decoration: underline 5px white;
}


