button {
    width: 80px;
    height: 40px;
    background-color: white;
    margin: auto;
    font-size: larger;
    display: block;
    
}


* {
    font-family:Arial, Helvetica, sans-serif;
    color : rgb(148, 148, 248);
}


header  {
     background-image: url(galaxy.webp);
     background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 43vh;
    background-size: cover;    
}


img {
    width: 100px;
    height: 30px;
    display: block;
    margin: auto;
    
}


p {
    text-align: center;
    display: block;
    font-size: xx-large;
    font-weight: 900;
    margin-top: 50px;
}


footer {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}


