button {
    width: 80px;
    height: 40px;
    background-color: lightgreen;
    align-items: center;
}


header ,main {
     background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1xdNxzFBBglpRmWKJkb8ReWxD4UB364Bki7gIEI6bjFx7n4m6qUUyGtgkkzQygh51hPjX9zuGnikKqUm8Crx_&s&ec=121528429);
     background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
}

img {
    width: 100px;
    height: 50px;
}